body{
   font-family: Arial, sans-serif;
   height: 100%;
   width: 100%;
}

.preloader {
   position: fixed;
   height: 100%;
   width: 100%;
   background-color: blueviolet;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1001;
}

.loader {
   position: relative;
   width: 90px;
   height: 90px;
   border: 5px solid blue;
   border-radius: 50%;
   border-left:7px solid blue;
   border-right:7px solid blue;
   border-bottom:7px solid yellow;
   border-top:7px solid yellow;
   animation: loader 4s infinite linear;
   -moz-animation: loader 4s infinite linear;
   -o-animation: loader 4s infinite linear;
}

@keyframes loader {
   0%{ 
      transform: rotate(0deg);
   }
   100%{
     transform: rotate(360deg);
   }
}

.text__loader {
   color: blue;
   font-size: 30px;
   padding-left: 40px;
}

main {
   
}

nav{
   width: 100%;
   height: 60px;
   background: #344051;
   position: fixed;
}

.logo{
   color: #fff;
   font-size: 23px;
   line-height: 60px;
   padding-left: 387px;
   float: left;
   -webkit-animation: comming 2s;
   -o-animation: comming 2s;
   animation: comming 2s;
   
}

@keyframes comming{
   from{
      opacity: 0;
   }
   to{
      opacity: 100%;
   }
}

.menu{
   float: left;
   padding-left: 432px;
}

.menu li{
   float: left;
   font-size: 12px;
   line-height: 60px;
   margin-right: 40px;
   color: #fff;
   text-transform: uppercase;
   -webkit-animation: topshift 0.4s forwards;
   -o-animation: topshift 0.4s forwards;
   animation: topshift 0.4s forwards;
   opacity: 0;
}

.menu li a{
   transition: all 0.1s;
   color: white;
   display: inline-block;
}

.menu li a:visited{
   color: white;
}

.menu li a:hover{
   color: #d17700;
}

.menu li a:active{
   transform: scale(1.1);
}

@keyframes topshift{
   from{
      opacity: 0;
      margin-top: -80px;
   }
   to{
      opacity: 100%;
      margin-top: 0px;
   }
}

.menu li:nth-child(2){
   animation-delay: 0.4s;
}

.menu li:nth-child(3){
   animation-delay: 0.8s;
}

.menu li:nth-child(4){
   animation-delay: 1.2s;
}

.menu li:nth-child(5){
   animation-delay: 1.6s;
}

.menu li:nth-child(6){
   animation-delay: 2s;
}
.main{
   width: 100%;
   height: 1019px;
   background:url(../img/paren_117.png) 90% 100%/auto 95% no-repeat ,url(../img/fon_115.jpg) center/cover no-repeat;
}

.title__container{
   float: left;
   margin: 17% 0% 0% 18%;
   color: #2c384a;
   text-align: center;
   -webkit-animation: titlemove 1.5s ease forwards;
   -o-animation: titlemove 1.5s ease forwards;
   animation: titlemove 1.5s ease forwards;
   animation-delay: 2s;
   -webkit-animation-delay: 2s;
   -o-animation-delay: 2s;
   opacity: 0;
}

.title__container h1{
   font-size: 60px;
   font-weight: bold;
}

.title__container p{
   font-size: 20px;
   margin-top: 29px;
   color: #79818d;
}

@keyframes titlemove{
   from{
      opacity: 0;
      margin-left: -500px;
   }
   to{
      opacity: 100%;
      margin-left: 18%;
   }
}

.title__container input{
   height: 40px;
   text-align: center;
   border: 2px solid #6d7682;
   background: none;
   border-radius: 5px;
   color: 6d7682;
   font-size: 13px;
   padding: 0px 15px;
   margin: 55px 14px 0px 14px;
   transition: all 0.1s;
   transform: scale(1);
}

.title__container input:hover{
   color: white;
   background: #344051;
}

.title__container input:active{
   transform: scale(1.1);
}

.aboutme__container{
   width: 100%;
   background: #fff;
   float: left;
}

.aboutme__container h2{
   font-weight: bold;
   text-align: center;
   margin-top: 108px;
   font-size: 33px;
   color: #263244;
}

.line{
   width: 72px; 
   height: 4px; 
   margin: 30px auto;
   background-color: #d17700; 
   -webkit-animation: lineanm 3s infinite;
   -o-animation: lineanm 3s infinite;
   animation: lineanm 3s infinite;
}

@keyframes lineanm{
   0%{
      opacity: 0%;
      transform: scaleX(0);
   }
   50%{
      opacity: 100%;
      transform: scaleX(1);
   }
   100%{
      opacity: 0%;
      transform: scaleX(0);
   }
}

.aboutme__my-photo{
   display: block;
   margin: 59px auto 22px auto;
}

.aboutme__container p{
   text-align: left;
   width: 736px;
   margin: 0px auto;
   margin-bottom: 10px;
   font-size: 17px;
   color: #3f495a;
}

.aboutme__submit {
   width: 154px;
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 33px auto 111px auto;
   border: 2px solid #6f707e;
   border-radius: 6px;
}
.aboutme__submit img {
   width: 15px;
   height: 14px;
   float: left;
}

.aboutme__submit input {
   background: none;
   font-size: 13px;
   color: #6f707e;
   float: left;
}

.aboutme__submit:hover{
   color: white;
   background: #898c8f;
}

.aboutme__submit input:hover{
   color: white;
   background: #898c8f;
}

.aboutme__submit:active{
   transform: scale(1.1);
}

.skills__container {
   float: left;
   width: 100%;
   background: url(../img/kartinka_fona_60.jpg) center/cover no-repeat;
}

.skills__container h2 {
   font-weight: bold;
   text-align: center;
   font-size: 33px;
   color: #263244;
   margin-top: 107px;
}

.skills__item {
   display: flex;
   justify-content: center;
   margin-top: 100px;
}

.icon1 {
   width: 55px;
   height: 37px;
}

.icon2 {
   width: 51px;
   height: 40px;
}

.icon3 {
   width: 47px;
   height: 47px;
}


.icon4 {
   width: 51px;
   height: 44px;
}

.skills {
   margin-bottom: 92px;
   width: 240px;
   margin-right: 40px;
   text-align: center;
}

.skills h4 {
   margin-top: 34px;
   margin-bottom: 15px;
   border: 1px solid rgba(255,255,255,0.18);
   font-size: 18px;
   color: #cf7600;
}

.skills p {
   font-size: 16px;
   color: #3f495a; 
}

.cases__container {
   background: white;
   width: 100%;
   float: left;
}

.cases__container h2 {
   font-weight: bold;
   text-align: center;
   font-size: 33px;
   color: #384354;
   margin-top: 103px;
}

.cases__text {
   text-align: center;
   font-size: 16px;
   color: #3f495a;
   margin: 35px 0px;
}

.cases__img {
   text-align: center;
}

.client {
   display: flex;
   justify-content: center;
   margin: 35px auto;
}
.cases__client h4{
   font-size: 20px;
   color: #384354;
   margin-top: 11px;
   margin-bottom: 11px;
   margin-right: 150px;
}

.cases__client p {
   font-size: 15px;
   color: #3f495a;
   text-align: left;
}

.cases__name-project h4{
   font-size: 20px;
   color: #384354;
   margin-top: 11px;
   margin-bottom: 11px;
}

.text__name-project {
   font-size: 15px;
   color: #3f495a;
   width: 920px;
}

.cases__container input{
   background: #63b5ae;
   border: 1px solid #63b5ae;
   border-radius: 5px;
   font-size: 16px;
   color: white;
   float: left;
   padding: 15px 42px;
   margin-left: 375px;
   margin-bottom: 200px;
   text-transform: uppercase;
}

.cases__container input:hover{
   color: #573201;
   background-color: rgb(240, 160, 104);
}

.cases__container input:active{
   transform: scale(1.1);
}

.cost-calculation__container {
   background-color: white;
   text-align: center;
}

.cost-calculation__container h2 {
   font-weight: bold;
   font-size: 45px;
   color: #1c2534;
   margin-bottom: 54px;
   text-align: center;
}

.cost-calculation__container h3 {
   font-weight: bold;
   text-transform: uppercase;
   font-size: 25px;
   color: #1c2534;
   text-align: justify;
   margin-left: 598px;
   margin-top: 44px;
   margin-bottom: 22px;
}

.cost-calculation__container select {
   background: #eeeeee;
   width: 711px;
   height: 57px;
}

hr {
   width: 710px;
   height: 4px;
   margin: 30px auto;
   position: relative;
    overflow: visible;
}

hr:after {
   content: "";
   border: 2px solid #337AB7;
   position: absolute;
   width: 20%;
   top: -2px;
   -moz-animation: hr 5s linear infinite;
   -o-animation: hr 5s linear infinite;
   animation: hr 5s linear infinite; 
}
@keyframes hr {
   0% {
       left: 0%;
   }
   50% {
       left: 80%;
   }
   100% {
      left: 0%;
   }
}

.timing {
   font-weight: bold;
   font-size: 15px;
   color: black;
   text-align: justify;
   margin-left: 598px;
   word-spacing: 645px;
}

.cost {
   margin-top: 10px;
   margin-bottom: 150px;
   font-weight: bold;
   font-size: 15px;
   color: black;
   text-align: justify;
   margin-left: 598px;
   word-spacing: 610px;
}

.statistics__container {
   width: 100%;
   background: url(../img/fon_150.jpg) center/cover no-repeat;
   padding-bottom: 90px;
   background-attachment: fixed;

}

.statistics__container h2 {
   font-weight: bold;
   font-size: 33px;
   color: #323e4f;
   text-align: center;
   padding-top: 103px;
}

.stats {
   display: flex;
   justify-content: center;
   margin-top: 84px;
}

.stats__item {
   text-align: center;
   width: 280px;
}

.stats__item h4 {
   font-weight: bold;
   font-size: 37px;
   color: #323e4f;
   margin-top: 34px;
   margin-bottom: 42px;
}

.stats__item p {
   font-weight: bold;
   font-size: 16px;
   color: #616a78;
}

.icon21 {
   height: 50px;
}

.icon22 {
   height: 50px;
}

.icon23 {
   height: 50px;
}

.icon24 {
   height: 50px;
}

.reviews__container {
   width: 100%;
   margin-top: 117px;
   margin-bottom: 180px;
}

.reviews__container h2 {
   text-align: center;
   font-size: 33px;
   color: #243042;
   font-weight: bold;
}

.reviews1 img {
   display: block;
   margin: 50px auto 34px auto;
}

.reviews1 p {
   text-align: center;
   width: 687px;
   margin: 33px auto;
   color: #243042;
}

.reviews1 address {
   font-size: 16px;
   color: #243042;
   font-weight: 400;
   text-align: center;
   width: 687px;
   margin: 33px auto;
}

.reviews1 span {
   font-weight: bold;
}

.contacts__container {
   padding-bottom: 66px;
   background: url(../img/fon_180.jpg) center/cover no-repeat;
}

.contacts__container h2 {
   padding-top: 105px;
   text-align: center;
   font-size: 33px;
   color: #fff;
   font-weight: bold;
}

.text__contacts {
   margin: 34px auto 47px auto;
   text-align: center;
   font-family: Calibri;
   font-size: 16px;
   color: #ffffff;
}

.contacts__item {
   display: flex;
   justify-content: center;
}

.contact {
   text-align: center;
   width: 200px;
}

#geo{
   -moz-animation: geo 5s infinite linear;
   -o-animation: geo 5s infinite linear;
   animation: geo 5s infinite linear;
}

@keyframes geo{ 
   0% { transform: rotate(0deg); transform-origin: top }
   100% { transform: rotate(360deg); transform-origin: top }
}

#envelope{
   -moz-animation: envelope infinite 1.5s;
   -o-animation: envelope infinite 1.5s;
   animation: envelope infinite 1.5s;
}

@keyframes envelope {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		
	}
	40% {
		transform: translateY(-20px);
		
	}
	80% {
		transform: translateY(-10px);
	}
} 

#phone {
   -moz-animation: phone infinite 1.5s;
   -o-animation: phone infinite 1.5s;
   animation: phone infinite 1.5s;
}

@keyframes phone {
   0%, 50%, 100% {
      transform: rotate(0deg);
  }
  10%, 30% {
      transform: rotate(-10deg);
  }
  20%, 40% {
      transform: rotate(10deg);
  }
}

.contact p {
   font-size: 13px;
   color: #ffffff;
}

.contacts__container h3 {
   font-weight: bold;
   font-size: 20px;
   color: #ffffff;
   text-align: center;
   margin: 57px auto 47px auto;
}

.message {
   text-align: center;
   margin: 43px auto 28px auto;
}

#name {
   width: 352px;
   height: 34px;
   margin-right: 25px;
   margin-bottom: 14px;
}

#email {
   width: 352px;
   height: 34px;
}

#message__field {
   margin: 0px auto;
   margin-bottom: 28px;
   width: 733px;
   height: 94px;
}

#submit__message {
   height: 46px;
   width: 125px;
   border: 2px solid #fff;
   border-radius: 5px;
   color: white;
   font-size: 20px;
   background: none;
}

#submit__message:hover{
   color: black;
   background-color: white;
}

#submit__message:active{
   transform: scale(1.1);
}


.social-networks {
   padding-top: 75px;
   margin-bottom: 30px;
}

.social-networks li{
   float: left;
   display: block;
   margin-right: 58px;
}

.social-icons-fasebook {
   display: block;
   background: url(../img/fb_200.png) center/cover no-repeat;
   width: 16px;
   height: 29px;
   margin-left: 733px;
}

.social-icons-twitter {
   display: block;
   background: url(../img/tviter_201.png) center/cover no-repeat;
   width: 25px;
   height: 23px;
}

.social-icons-dribbble {
   display: block;
   background: url(../img/myach_202.png) center/cover no-repeat;
   width: 27px;
   height: 27px;
}

.social-icons-github {
   display: block;
   background: url(../img/kisa_203.png) center/cover no-repeat;
   width: 27px;
   height: 27px;
}

.social-icons-instagram {
   display: block;
   background: url(../img/inst_204.png) center/cover no-repeat;
   width: 27px;
   height: 27px;
}

.social-icons-LinkedIn {
   display: block;
   background: url(../img/in_205.png) center/cover no-repeat;
   width: 27px;
   height: 26px;
}

.social-networks a:hover{
   transform: scale(1.7);
}

.social-networks a:active{
   transform: scale(1.2);
}

.maps__conteiner {
   height: 350px;
   background: url(../img/karta_kopiya_142.jpg) no-repeat;
}

footer {
   background: #354051;
   width: 100%;
   height: 96px;
}

.avtor__container {
   line-height: 96px;
   font-family: Arial;
   font-size: 13.px;
   color: #fff;
   text-align: center;
}